.fullBody {
    line-height: 30px;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(54, 62, 70);
}

.textStyle {
    color: antiquewhite;
}

.textStyle2 {
    color: rgb(240, 237, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.styleDIV {
    text-align: justify;
    background-color: rgb(54, 62, 70);
}

.divSizeTeam {
    width: 70px;
}